name: "Main workflow"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

        framework: [net8.0, net9.0, net10.0]

        include:
          - framework: net8.0
            dotnetVersion: "8.0.x"

          - framework: net9.0
            dotnetVersion: "9.0.x"

          - framework: net10.0
            dotnetVersion: "10.0.x"

    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x

      - name: restore
        run: dotnet restore

      - name: build
        run: dotnet build --configuration Release --no-restore

      - name: test (NuGetUtility.Test.dll)
        run: dotnet test --project ./tests/NuGetUtility.Test/NuGetUtility.Test.csproj --configuration Release -f ${{ matrix.framework }} --no-restore --no-build

      - name: test (NuGetLicense.Test.dll)
        run: dotnet test --project ./tests/NuGetLicense.Test/NuGetLicense.Test.csproj --configuration Release -f ${{ matrix.framework }} --no-restore --no-build

  test_file_license_matching:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            9.0.x
            10.0.x
         
      - name: restore
        run: dotnet restore
      
      - name: test
        run: dotnet test --project ./tests/FileLicenseMatcher.Test/FileLicenseMatcher.Test.csproj --configuration Release --no-restore

  test_url_to_license_mapping:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            9.0.x
            10.0.x
      
      - uses: browser-actions/setup-chrome@v2.1.0
      
      - name: restore
        run: dotnet restore
      
      - name: test
        run: dotnet test --project ./tests/NuGetUtility.UrlToLicenseMapping.Test/NuGetUtility.UrlToLicenseMapping.Test.csproj --configuration Release --no-restore

  test_windows:
    runs-on: windows-latest
    strategy:
      matrix:
        framework: [net8.0, net472, net9.0, net10.0]
    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: build
        run: msbuild -t:rebuild -restore -p:RestorePackagesConfig=true -property:Configuration=TestWindows

      - name: test
        uses: josepho0918/vstest-action@main
        with:
          testAssembly: "NuGet*.Test.dll"
          searchFolder: "tests/*/bin/TestWindows/${{ matrix.framework }}/"
          runInParallel: true

  check_code_format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            9.0.x
            10.0.x

      - name: restore
        run: dotnet restore

      - name: check format
        run: dotnet format --verify-no-changes

  check_licenses:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework: [net8.0, net9.0, net10.0]
        project: [App, Tests, ProjectWithReferenceContainingLicenseExpression, ProjectWithReferenceContainingFileLicense, ProjectWithReferenceContainingWindowsSpecificPath]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x

      - name: restore
        run: dotnet restore NuGetUtility.sln -p:TargetFramework=${{ matrix.framework }}

      - name: build
        run: dotnet publish ./src/NuGetLicenseCore/NuGetLicenseCore.csproj --configuration Release -o ./release -f ${{ matrix.framework }} --no-restore

      - name: check
        run: dotnet ./release/NuGetLicenseCore.dll -ji ./.github/workflows/assets/${{ matrix.project }}/projectsToCheck.json -t -a ./.github/workflows/assets/${{ matrix.project }}/allowedLicenses.json -o JsonPretty -override ./.github/workflows/assets/${{ matrix.project }}/overwritePackageInformation.json -ignore ./.github/workflows/assets/${{ matrix.project }}/ignorePackages.json -mapping ./.github/workflows/assets/${{ matrix.project }}/urlToLicenseMapping.json -d ./licenses/${{ matrix.project }}/${{ matrix.framework }} -file-mapping ./.github/workflows/assets/${{ matrix.project }}/fileToLicenseMapping.json

      - name: show downloaded licenses
        shell: pwsh
        run: |
          foreach($file in Get-ChildItem -Path ./licenses/${{ matrix.project }}/${{ matrix.framework }})
          {
            Write-Host ::group::$file
            Get-Content $file.FullName
            Write-Host ::endgroup::
          }
  check_licenses_net472:
    runs-on: windows-latest
    strategy:
      matrix:
        project: [App, Tests, ProjectWithReferenceContainingLicenseExpression, ProjectWithReferenceContainingFileLicense, ProjectWithReferenceContainingWindowsSpecificPath]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            9.0.x
            10.0.x

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - run: msbuild -t:restore -p:RestorePackagesConfig=true NuGetUtility.sln

      - name: fully qualify release path
        id: release_path
        shell: pwsh
        run: |
          $path = [System.IO.Path]::GetFullPath("./release");
          echo "publish to path: $path"
          echo "path=$path" >> $env:GITHUB_OUTPUT

      - name: build
        run: msbuild ./src/NuGetLicenseFramework/NuGetLicenseFramework.csproj /t:Publish /p:configuration=Release /p:PublishDir=${{ steps.release_path.outputs.path }} /p:TargetFramework=net472

      - name: check
        run: ${{ steps.release_path.outputs.path }}/NuGetLicenseFramework.exe -ji ./.github/workflows/assets/${{ matrix.project }}/projectsToCheck.json -t -a ./.github/workflows/assets/${{ matrix.project }}/allowedLicenses.json -o JsonPretty -override ./.github/workflows/assets/${{ matrix.project }}/overwritePackageInformation.json -ignore ./.github/workflows/assets/${{ matrix.project }}/ignorePackages.json -mapping ./.github/workflows/assets/${{ matrix.project }}/urlToLicenseMapping.json -d ./licenses/${{ matrix.project }}

      - name: show downloaded licenses
        shell: pwsh
        run: |
          foreach($file in Get-ChildItem -Path ./licenses/${{ matrix.project }})
          {
            Write-Host ::group::$file
            Get-Content $file.FullName
            Write-Host ::endgroup::
          }

  check_version_command:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework: [net8.0, net9.0, net10.0]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            8.0.x
            9.0.x
            10.0.x

      - name: restore
        run: dotnet restore NuGetUtility.sln -p:TargetFramework=${{ matrix.framework }}

      - uses: paulhatch/semantic-version@v5.4.0
        id: version
        name: version
        with:
          tag_prefix: "v"
          version_format: "${major}.${minor}.${patch}-test${increment}"

      - name: build
        run: dotnet publish ./src/NuGetLicenseCore/NuGetLicenseCore.csproj --configuration Release -o ./release -f ${{ matrix.framework }} --no-restore -p:Version=${{ steps.version.outputs.version }}

      - name: check app version
        shell: pwsh
        run: |
          $cmdOutput = dotnet ./release/NuGetLicenseCore.dll --version | Out-String
          if(!($cmdOutput.Trim() -like '${{ steps.version.outputs.version }}')) {
            Write-Host Versions do not match: read $cmdOutput, expected ${{ steps.version.outputs.version }}
            exit 1;
          }
  check_version_command_net472:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: | 
            9.0.x
            10.0.x

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - run: msbuild -t:restore -p:RestorePackagesConfig=true NuGetUtility.sln

      - name: fully qualify release path
        id: release_path
        shell: pwsh
        run: |
          $path = [System.IO.Path]::GetFullPath("./release");
          echo "publish to path: $path"
          echo "path=$path" >> $env:GITHUB_OUTPUT

      - uses: paulhatch/semantic-version@v5.4.0
        id: version
        name: version
        with:
          tag_prefix: "v"
          version_format: "${major}.${minor}.${patch}-test${increment}"

      - name: build
        run: msbuild ./src/NuGetLicenseFramework/NuGetLicenseFramework.csproj /t:Publish /p:configuration=Release /p:PublishDir=${{ steps.release_path.outputs.path }} /p:Version=${{ steps.version.outputs.version }} /p:TargetFramework=net472

      - name: check app version
        shell: pwsh
        run: |
          $cmdOutput = ${{ steps.release_path.outputs.path }}/NuGetLicenseFramework.exe --version | Out-String
          if(!($cmdOutput.Trim() -like '${{ steps.version.outputs.version }}')) {
            Write-Host Versions do not match: read $cmdOutput, expected ${{ steps.version.outputs.version }}
            exit 1;
          }
